@page "/"

<MudCarousel Class="mud-width-full" Style="height:497px;width:100%" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object" Size="@Size.Large">
    <MudCarouselItem Transition="transition">
        <MudImage Fluid="true" Src="https://scontent.fdad1-3.fna.fbcdn.net/v/t39.30808-6/356622214_220491777600708_6903992980864932254_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=TpT3TrhBW2wAX__3tNh&_nc_ht=scontent.fdad1-3.fna&oh=00_AfDJSik_L7WAeArj2Eyij_4e_qQDFXtDEieJ3jPDaH-3gg&oe=64A13BD2" Size="@Size.Large" Style="height:497px;width:100%" />
    </MudCarouselItem>

    <MudCarouselItem Transition="transition">
        <MudImage Fluid="true" Src="https://scontent.fdad1-4.fna.fbcdn.net/v/t39.30808-6/356873136_220491767600709_3018333275901147480_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_ohc=QRPaA0MbtToAX93Fj4U&_nc_ht=scontent.fdad1-4.fna&oh=00_AfCSzStYG77FuOWzfxByrLIDLBXUghSu0hUtGbZfG3ZqCQ&oe=64A1C1D0" Size="@Size.Large" Style="height:497px;width:100%" />
    </MudCarouselItem>

    <MudCarouselItem Transition="transition">
        <MudImage Fluid="true" Src="https://www.mayanhjp.com/source/slide/beb1f136efee46eaa647d8cf1e218cd3_R6+cover+web_rs.jpeg" Size="@Size.Large" Style="height:497px;width:100%" />
    </MudCarouselItem>
</MudCarousel>

<div class="brands mb-16">
    <h3 class="mt-16 text-center">Thương hiệu</h3>
    <div class="image-container">
        <img src="https://1000logos.net/wp-content/uploads/2016/10/Canon-logo.jpg" alt="Image 1">
        <img src="https://asset.fujifilm.com/www/vn/files/2021-05/96068da4517e363a4988c39ebc844073/logo_06.jpg" alt="Image 2">
        <img src="https://1000logos.net/wp-content/uploads/2017/03/Font-of-the-Nikon-Logo.jpg" alt="Image 3">
        <img src="https://magicbox.vn/wp-content/uploads/2022/03/sony-logo.jpg" alt="Image 4">
    </div>
</div>

<div class="cart mb-16">
    <h3 class="mt-16 mb-3 text-center" style="width: 80%; margin: auto auto;">Chia sẻ của khách hàng</h3>
<div class="card-container">
    <MudCard Class="mud-card">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudAvatar Color="Color.Secondary" Image="https://scontent.fdad3-5.fna.fbcdn.net/v/t39.30808-6/343440769_567139082152049_1725375816703000440_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=MdneH3eceyEAX8jTtji&_nc_ht=scontent.fdad3-5.fna&oh=00_AfCjcJs7sDBQi_3SNw19sPx6Oydy5aBUFqlxChyLKNXIlw&oe=64A1C325"></MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">Nhật Loan</MudText>
                <MudText Typo="Typo.body2">Nơi có cây và cỏ</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardMedia Image="https://scontent.fdad3-4.fna.fbcdn.net/v/t39.30808-6/356658028_1479322039476703_2830084788607770601_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=0debeb&_nc_ohc=0vjLsD6cFaoAX-Bj0a6&_nc_ht=scontent.fdad3-4.fna&oh=00_AfBnNJTXUEB_vJgqIk03I33gC-rIgeo3MQWmHsmHp616LA&oe=64A09F45" Height="250" />
        <MudCardContent>
            <MudText Typo="Typo.body2">Hình ảnh được chụp ở Đợi một người - Đà Lạt</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Error" />
            <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
        </MudCardActions>
    </MudCard>

    <MudCard Class="mud-card">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudAvatar Color="Color.Secondary" Image="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.6435-9/156076654_2860778814235549_7786197275075169473_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=V6iU_5KH4E8AX8rmMPd&_nc_ht=scontent.fdad3-1.fna&oh=00_AfATZuMyn1PvYQ1Eepc1DhMIoLGdLrpkNBoiW7FWn0D_5Q&oe=64C3FF94"></MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">Kiều Ngân</MudText>
                <MudText Typo="Typo.body2">Mặt tiền Bà Triệu</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardMedia Image="https://scontent.fdad3-4.fna.fbcdn.net/v/t39.30808-6/338187283_949831412700793_5752735510571210233_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=0debeb&_nc_ohc=MmoQ9F-YRUMAX96vcdV&_nc_ht=scontent.fdad3-4.fna&oh=00_AfAbWgbA0zgCcvOPJdlx8qTIPI41We8PC-AE-UmLq9SE-Q&oe=64A24045" Height="250" />
        <MudCardContent>
            <MudText Typo="Typo.body2">Hình ảnh được chụp ở Đồi Hồ Đắc Di - Huế</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Error" />
            <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
        </MudCardActions>
    </MudCard>

    <MudCard Class="mud-card">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudAvatar Color="Color.Secondary" Image="https://scontent.fdad3-1.fna.fbcdn.net/v/t39.30808-6/339027991_1912151885805024_644848446719446112_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=0debeb&_nc_ohc=TBMIvS9wPHsAX-Rfohr&_nc_ht=scontent.fdad3-1.fna&oh=00_AfAW6QUcfFPp3QmP1oG8vdEGKRucfnyMMbjvDwxLg6ISYg&oe=64A0C968"></MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">Phương Uyên</MudText>
                <MudText Typo="Typo.body2">Phố cổ Bao Vinh</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Default" />
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardMedia Image="https://scontent.fdad3-4.fna.fbcdn.net/v/t39.30808-6/345893065_983705716307308_7564384308140493151_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=0debeb&_nc_ohc=UWOgOv7TRE4AX_EkRjt&_nc_ht=scontent.fdad3-4.fna&oh=00_AfB-2e8R6IoJmeo9t7AACnpd3YjDA7m2mOGvqozHszYjBA&oe=64A1DF4B" Height="250" />
        <MudCardContent>
            <MudText Typo="Typo.body2">Hình ảnh được chụp ở Bao Báp - Tiệm cafe BB</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Error" />
            <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
        </MudCardActions>
    </MudCard>
</div>
</div>



<div class="cart mb-16">
    <h3 class="mt-16 mb-3 text-center">Sản phẩm nổi bật</h3>
@if (currentPage == 1)
{
    @*card*@
    <div style="display: flex; justify-content: space-between;">
        <MudCard Style="width:30%; height: auto; background-color: #f2d8d869">
            <MudCardMedia Image="https://product.hstatic.net/1000304519/product/1_45158734f33e4405a78be9df50f7ba91.jpg" Height="200" />
            <MudCardContent>
                <MudText Class="my-1 pt-1" Typo="Typo.h6">Máy Ảnh Panasonic Lumix S1, Mới 100% (Chính hãng)</MudText>
                <MudText Class="my-1 pt-1" Style="color: red; font-weight: 500" Typo="Typo.body2">51.765.500đ</MudText>
                <MudText Class="my-1 pt-1" Typo="Typo.body2">Cảm biến: CMOS Full-Frame 24.2MP, Ngàm ống kính : ngàm L, Màn hình : Màn hình cảm ứng ba trục 3,2 inch, 2,1 triệu điểm</MudText>
            </MudCardContent>
            <MudCardActions Class="my-1 pt-1">
                <MudButton Class="ml-4 pt-1" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.AddShoppingCart" Color="Color.Primary">Thêm vào giỏ hàng</MudButton>
                <MudButton Class="ml-4 pt-1" Style="font-size: 12px" Variant="Variant.Text" Color="Color.Primary">Tìm hiểu thêm</MudButton>
            </MudCardActions>

        </MudCard>

        <MudCard Style="width:30%; height: auto; background-color: #f2d8d869">
            <MudCardMedia Image="https://cdn.24h.com.vn/upload/2-2020/images/2020-06-17/canon-eos-850d-1592375161-676-width660height479.jpeg" Height="200" />
            <MudCardContent>
                <MudText Class="my-1 pt-1" Typo="Typo.h6">Máy Ảnh Canon 850D, Mới 100% (Chính hãng)</MudText>
                <MudText Class="my-1 pt-1" Style="color: red; font-weight: 500" Typo="Typo.body2">51.765.500đ</MudText>
                <MudText Class="my-1 pt-1" Typo="Typo.body2">Cảm biến: CMOS Full-Frame 24.2MP, Ngàm ống kính : ngàm L, Màn hình : Màn hình cảm ứng ba trục 3,2 inch, 2,1 triệu điểm</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Class="ml-4 pt-1" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.AddShoppingCart" Color="Color.Primary">Thêm vào giỏ hàng</MudButton>
                <MudButton Class="ml-4 pt-1" Style="font-size: 12px" Variant="Variant.Text" Color="Color.Primary">Tìm hiểu thêm</MudButton>
            </MudCardActions>
        </MudCard>

        <MudCard Style="width:30%; height: auto; background-color: #f2d8d869">
            <MudCardMedia Image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlMDb-RphUG-m3DejeZZ3VRs_8R_HNprYspA&usqp=CAU" Height="200" />
            <MudCardContent>
                <MudText Class="my-1 pt-1" Typo="Typo.h6">Máy Ảnh Fujifilm X-S10, Mới 100% (Chính hãng)</MudText>
                <MudText Class="my-1 pt-1" Style="color: red; font-weight: 500" Typo="Typo.body2">51.765.500đ</MudText>
                <MudText Class="my-1 pt-1" Typo="Typo.body2">Cảm biến: CMOS Full-Frame 24.2MP, Ngàm ống kính : ngàm L, Màn hình : Màn hình cảm ứng ba trục 3,2 inch, 2,1 triệu điểm</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Class="ml-4 pt-1" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.AddShoppingCart" Color="Color.Primary">Thêm vào giỏ hàng</MudButton>
                <MudButton Class="ml-4 pt-1" Style="font-size: 12px" Variant="Variant.Text" Color="Color.Primary">Tìm hiểu thêm</MudButton>
            </MudCardActions>
        </MudCard>
    </div>
    <br />
}
else if (currentPage == 2)
{
    <div style="display: flex; justify-content: space-between;">
        <MudCard Style="width:30%; height: auto; background-color: #f2d8d869">
            <MudCardMedia Image="https://www.sony.com.vn/image/41d18764ca4f5b14240d3568b6648937?fmt=pjpeg&wid=1014&hei=396&bgcolor=F1F5F9&bgc=F1F5F9" Height="200" />
            <MudCardContent>
                <MudText Class="my-1 pt-1" Typo="Typo.h6">Máy Ảnh Panasonic Lumix S1, Mới 100% (Chính hãng)</MudText>
                <MudText Class="my-1 pt-1" Style="color: red; font-weight: 500" Typo="Typo.body2">51.765.500đ</MudText>
                <MudText Class="my-1 pt-1" Typo="Typo.body2">Cảm biến: CMOS Full-Frame 24.2MP, Ngàm ống kính : ngàm L, Màn hình : Màn hình cảm ứng ba trục 3,2 inch, 2,1 triệu điểm</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Class="ml-4 pt-1" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.AddShoppingCart" Color="Color.Primary">Thêm vào giỏ hàng</MudButton>
                <MudButton Class="ml-4 pt-1" Style="font-size: 12px" Variant="Variant.Text" Color="Color.Primary">Tìm hiểu thêm</MudButton>
            </MudCardActions>
        </MudCard>

        <MudCard Style="width:30%; height: auto; background-color: #f2d8d869">
            <MudCardMedia Image="https://xuansoncamera.com/image/data/gioi-thieu-may-anh-canon-nikon-hinh1.jpg" Height="200" />
            <MudCardContent>
                <MudText Class="my-1 pt-1" Typo="Typo.h6">Máy Ảnh Panasonic Lumix S1, Mới 100% (Chính hãng)</MudText>
                <MudText Class="my-1 pt-1" Style="color: red; font-weight: 500" Typo="Typo.body2">51.765.500đ</MudText>
                <MudText Class="my-1 pt-1" Typo="Typo.body2">Cảm biến: CMOS Full-Frame 24.2MP, Ngàm ống kính : ngàm L, Màn hình : Màn hình cảm ứng ba trục 3,2 inch, 2,1 triệu điểm</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Class="ml-4 pt-1" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.AddShoppingCart" Color="Color.Primary">Thêm vào giỏ hàng</MudButton>
                <MudButton Class="ml-4 pt-1" Style="font-size: 12px" Variant="Variant.Text" Color="Color.Primary">Tìm hiểu thêm</MudButton>
            </MudCardActions>
        </MudCard>

        <MudCard Style="width:30%; height: auto; background-color: #f2d8d869">
            <MudCardMedia Image="https://doanhnhanplus.vn/wp-content/uploads/2020/07/dnp-Canon-mirrorless-EOS-R5-R6-9.jpg" Height="200" />
            <MudCardContent>
                <MudText Class="my-1 pt-1" Typo="Typo.h6">Máy Ảnh Panasonic Lumix S1, Mới 100% (Chính hãng)</MudText>
                <MudText Class="my-1 pt-1" Style="color: red; font-weight: 500" Typo="Typo.body2">51.765.500đ</MudText>
                <MudText Class="my-1 pt-1" Typo="Typo.body2">Cảm biến: CMOS Full-Frame 24.2MP, Ngàm ống kính : ngàm L, Màn hình : Màn hình cảm ứng ba trục 3,2 inch, 2,1 triệu điểm</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Class="ml-4 pt-1" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.AddShoppingCart" Color="Color.Primary">Thêm vào giỏ hàng</MudButton>
                <MudButton Class="ml-4 pt-1" Style="font-size: 12px" Variant="Variant.Text" Color="Color.Primary">Tìm hiểu thêm</MudButton>
            </MudCardActions>
        </MudCard>
    </div>
    <br />
}
</div>

@*Pagination*@
<div class="d-flex flex-column align-center">
    <MudPagination ShowFirstButton="true" ShowLastButton="true" Count="11" Class="mt-4" CurrentPgae="@currentPage" SelectedChanged="ChangePage" />
</div>
<style>
  /*  .mud-container-maxwidth-lg {
        max-width: none;
        padding: unset;
    }*/
    .image-container {
        display: flex;
        justify-content: space-between;
    }

    .image-container img {
        width: 25%;
        height: 100px;
        object-fit: cover;
    }

    .brands h3, .cart h3 {
        background-color: #3e6252;
        width: 100%;
        font-family: 'Roboto';
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        font-style: italic;
        padding: 10px 0;
        margin-bottom: 0;
    }

    .card-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        
    }

        .card-container .mud-card {
            flex: 0 0 auto;
            margin-right: 10px;
            margin-right: 10px;

        }
</style>
   

@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;

    //breadcrum
    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Home", href: "#", icon: Icons.Material.Filled.Home),
        new BreadcrumbItem("Category", href: "#", icon: Icons.Material.Filled.Category),
        new BreadcrumbItem("Camera", href: null, disabled: true, icon: Icons.Material.Filled.Camera)
    };

    //Pagination
    private int currentPage = 1;

    private void ChangePage(int page)
    {
        currentPage = page;
    }
}
